@font-face {
    font-family: Raleway;
    src: url('../fonts/raleway/FuturaPTBook.otf');
}

$font_stack: Raleway;

$darkgray: #505050;
$lightgray: #707070;
$darkblue: #3f3d56;
$lightblue: #182136;
$brightblue: #009dff;
